# Python virtual environment
.venv/
venv/
env/

node_modules/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
# Project directories
reports/
tools/
tests/
interactions/
docs/
demos/
#ressources
ressources/

# Build output
dist/
.vite/